{
  "presets": ["babel-preset-expo"],
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@screens": "./src/screens",
          "@assets": "./src/assets"
        }
      }
    ]
  ]
}
